In [45]:
import pandas as pd

In [46]:
schools_df = pd.read_csv("resources/schools_complete.csv")
students_df = pd.read_csv("resources/students_complete.csv")

In [47]:
#Calculate the required metrics for the district and create a DataFrame called district_summary.
total_schools = schools_df["school_name"].nunique()

In [48]:
#Total number of students:
total_students = students_df["Student ID"].nunique()

In [49]:
#Total budget:
total_budget = schools_df["budget"].sum()

In [50]:
#Average math score:
average_math_score = students_df["math_score"].mean()

In [51]:
#Average reading score:
average_reading_score = students_df["reading_score"].mean()

In [52]:
#Percentage of students passing math:
passing_math_percentage = students_df[students_df["math_score"] >= 70]["Student ID"].nunique() / total_students * 100

In [53]:
#Percentage of students passing reading:
passing_reading_percentage = students_df[students_df["reading_score"] >= 70]["Student ID"].nunique() / total_students * 100

In [54]:
#Percentage of students passing both math and reading:
passing_overall_percentage = students_df[(students_df["math_score"] >= 70) & (students_df["reading_score"] >= 70)]["Student ID"].nunique() / total_students * 100

In [55]:
#Create the district_summary DataFrame:
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [passing_overall_percentage]
})

In [56]:
#School Summary
#Calculate the required metrics for each school and create a DataFrame
#Select School Type
school_type = schools_df.set_index("school_name")["type"]

In [57]:
#Calculate the total student count:
total_students_per_school = students_df["school_name"].value_counts()

In [58]:
#Calculate the total school budget:
total_budget_per_school = schools_df.groupby("school_name")["budget"].mean()

In [59]:
#Calculate the per student budget:
per_student_budget = total_budget_per_school / total_students_per_school

In [60]:
#Calculate the average math score per school:
average_math_score_per_school = students_df.groupby("school_name")["math_score"].mean()

In [61]:
#Calculate the average reading score per school:
average_reading_score_per_school = students_df.groupby("school_name")["reading_score"].mean()

In [62]:
#Calculate the percentage of students passing math per school:
passing_math_percentage_per_school = students_df[students_df["math_score"] >= 70].groupby("school_name")["Student ID"].count() / total_students_per_school * 100

In [63]:
#Calculate the percentage of students passing reading per school:
passing_reading_percentage_per_school = students_df[students_df["reading_score"] >= 70].groupby("school_name")["Student ID"].count() / total_students_per_school * 100

In [64]:
#Calculate the percentage of students passing both math and reading per school:
passing_overall_percentage_per_school = students_df[(students_df["math_score"] >= 70) & (students_df["reading_score"] >= 70)].groupby("school_name")["Student ID"].count() / total_students_per_school * 100

In [65]:
#Create the per_school_summary DataFrame:
per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_students_per_school,
    "Total School Budget": total_budget_per_school,
    "Per Student Budget": per_student_budget,
    "Average Math Score": average_math_score_per_school,
    "Average Reading Score": average_reading_score_per_school,
    "% Passing Math": passing_math_percentage_per_school,
    "% Passing Reading": passing_reading_percentage_per_school,
    "% Overall Passing": passing_overall_percentage_per_school
})

In [66]:
#Create Highest-Performing Schools (by % Overall Passing)
#Sort the schools by % Overall Passing in descending order, save the top 5 schools in a DataFrame called top_schools, and display the results.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False).head(5)
top_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [67]:
#Create Lowest-Performing Schools (by % Overall Passing)
#Sort the schools by % Overall Passing in ascending order, save the top 5 schools in a DataFrame called bottom_schools, and display the results.
bottom_schools = per_school_summary.sort_values("% Overall Passing").head(5)
bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [73]:
#Create Math Scores by Grade
#Create a DataFrame called math_scores_by_grade that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.
math_scores_by_grade = students_df.pivot_table(index="school_name", columns="grade", values="math_score", aggfunc="mean")

In [74]:
#Create reading Scores by Grade
#Create a DataFrame called reading_scores_by_grade that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.
reading_scores_by_grade = students_df.pivot_table(index="school_name", columns="grade", values="reading_score", aggfunc="mean")

In [70]:
#Create Scores by School Spending
#Create a table that breaks down school performance based on average spending ranges (per student) and save it in a DataFrame called spending_summary.
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], spending_bins, labels=labels)
school_spending_df = per_school_summary.groupby("Spending Ranges (Per Student)").mean()

spending_summary = pd.DataFrame({
    "Average Math Score": school_spending_df["Average Math Score"],
    "Average Reading Score": school_spending_df["Average Reading Score"],
    "% Passing Math": school_spending_df["% Passing Math"],
    "% Passing Reading": school_spending_df["% Passing Reading"],
    "% Overall Passing": school_spending_df["% Overall Passing"]
})

C:\Users\amie-lynn.shank\AppData\Local\Temp\ipykernel_21012\75852580.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_spending_df = per_school_summary.groupby("Spending Ranges (Per Student)").mean()

In [71]:
#Scores by School Size
#Create a DataFrame called size_summary that breaks down school performance based on school size(size) using the provided code.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
school_size_df = per_school_summary.groupby("School Size").mean()

size_summary = pd.DataFrame({
    "Average Math Score": school_size_df["Average Math Score"],
    "Average Reading Score": school_size_df["Average Reading Score"],
    "% Passing Math": school_size_df["% Passing Math"],
    "% Passing Reading": school_size_df["% Passing Reading"],
    "% Overall Passing": school_size_df["% Overall Passing"]
})

C:\Users\amie-lynn.shank\AppData\Local\Temp\ipykernel_21012\2499933369.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_size_df = per_school_summary.groupby("School Size").mean()

In [72]:
#Scores by School Type
#Create a DataFrame called type_summary that shows school performance based on the "School Type".
type_summary = per_school_summary.groupby("School Type").mean()[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]

C:\Users\amie-lynn.shank\AppData\Local\Temp\ipykernel_21012\1682065682.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_summary = per_school_summary.groupby("School Type").mean()[[